.events {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title-events {
    margin: 5px;
    font-size: x-large;
}

.inputForm {
    gap: 1rem;
    display: flex;
    padding: 2rem 4rem;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: #dbcef2;
}

.inputForm input {
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid #b5edff;
}

#add {
    background-color: #b5edff;
}

.ListEvents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.without-events {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.event{
    margin: 15px;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid #b5edff;
    justify-content: space-between;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dateGap {
    font-size: 25px;
    color: #62bcda;
    font-weight: bold;
}

.nameEvent {
    display: flex;
    margin: 0 2rem;
    margin: 0 2rem;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
    justify-content: center;
}

.dateEvent {
    display: flex;
    margin: 0 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.accions{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.delete{
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #62bcda;
}

.delete:hover {
    background-color: #ff5b5b;
}