.dance {
    background-color: #ff5e00;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #b84300;
    width: 550px;
    font-size: x-large;
}

.dance.hover {
    background-color: #f0894e;
}

.skeletonOff {
    width: 550px;
    height: 600px;
    display: flex;
    margin: 20px 0;
    align-items: end;
    border-radius: 10px;
    justify-content: center;
    border: 2px solid #b84300;
    background-color: #ff5e00;
    background-image: url('../../assets/img/skeletonImg.png');
}

.skeletonOff.on {
    background-image: url('../../assets/img/skeleton.gif');
}