.container-skeleton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dance {
    display: flex;
    border-radius: 35px;
    border: 2px solid #9e9ec9;
    padding: 1rem 5rem;
    color: black;
    transition: background-image 0.3s ease;
    cursor: pointer;
}

.dance:hover {
    background-image: linear-gradient(to right, #dbcef2, #daebf3);
}

.skeletonOff {
    width: 550px;
    height: 600px;
    display: flex;
    margin: 20px 0;
    align-items: end;
    justify-content: center;
    background-image: url('../../assets/img/skeletonImg.png');
}

.skeletonOff.on {
    background-image: url('../../assets/img/skeleton.gif');
}